form{
  margin-left: 500px;
  width: 500px;
  display: inline-block;
}
button{
  margin-left: 15px;
}
div.form-group{

}
input{
  height: 45px;
}
div.alert.alert-danger{
  height: 50px;
  text-align: -moz-left ;
}
